{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022"
    //"baseUrl": "."
  },
  "module": {
    "type": "es6",
    "resolveFully": true, // requires "baseUrl" to be set
    "outFileExtension": "mjs" // requires "resolveFully": true
  }
}
